---
import Layout from '../layouts/Layout.astro';
import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'
import { PortableText } from 'astro-portabletext';

const linkedin = "https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4083208/upload-efbae997-d35c-4f0b-80de-77353dc3e774.png?w=67&e=webp&nll=true"
const instagram = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/639c12e47a2307001b707fda/upload-d5e8b818-8019-490f-ba5f-aba8148be080.png"
const behance = "https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4083208/upload-f730306c-f652-4d23-9673-f834c87aa3d5.png?w=67&e=webp&nll=true"

async function getEquipo() {
  const query = groq`* [_type == "miembros"]`;
  const posts = await useSanityClient().fetch(query);
  return posts;
}

const equipo = await getEquipo()

async function getAbout() {
  const query = groq`* [_type == "about"]`;
  const about = await useSanityClient().fetch(query);
  return about[0];
}

const about = await getAbout()


const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}

---

<Layout title="About - The Brand Side">
  <div class="lg:min-h-screen pt-20 relative ">
    
    <div id="line-container" class="z-0 hidden lg:block">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
    </div>
    
    <div class=" fixed top-24 left-6 z-20 ">
      <a href={localePath("/")}>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-12 h-12 p-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </a>
    </div>
    <div class="w-full mt-2">
      <div class="lg:flex mt-12 lg:mt-0 ">
        <div class=" relative flex-1 p-3 lg:h-[85vh]">
          <div class=" lg:absolute bottom-2">
            <span class=" text-8xl xl:text-9xl 2xl:text-[10rem] px-1 lg:p-3 pt-24 lg:pt-0  font-Georgia js-show-on-scroll">
              About
            </span>
          </div>
        </div>
        <div class=" flex-1 p-3 relative ">
          <div class="lg:absolute bottom-2 max-w-full">
            <p class="2xl:text-8xl xl:text-7xl lg:text-6xl text-xl text-gray-800 px-1 lg:px-6 font-medium opacity-60 monu">
              {about.slogan[lenguaje]}
            </p>
          </div>
        </div>
        <div class="flex-1 p-3 relative">
          <div class="lg:absolute bottom-2 game text-[0.6rem] xl:text-[0.8rem] px-2 max-w-3xl prose text-black">
            <PortableText
              value={about.texto_largo[lenguaje]}
            ></PortableText>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-2 bg-[#c5c5c5] min-h-screen">
    <div class="lg:flex mt-12 lg:mt-0 w-full">
      <div class=" relative flex-1 p-3 w-1/3 ">
        <div class=" lg:sticky top-56">
          <span class=" text-8xl xl:text-9xl 2xl:text-[10rem] px-1 lg:p-3 pt-24 lg:pt-0  font-Georgia js-show-on-scroll">
            Team
          </span>
        </div>
      </div>
      <div class="lg:w-2/3">
        <!-- <div class="lg:flex ">
          <div class=" flex-1 p-3 relative mt-20">
            <div class=" bottom-2 max-w-full">
              <img src="https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4083208/upload-5a8ac1bf-3770-464f-a456-aa6eca1ed723.png?e=webp&nll=true" alt="" class="w-80 py-2 m-auto rounded-t-full" >
              <img src="https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4083208/upload-79210371-67ec-46be-816b-5ce286028827.png?e=webp&nll=true&cX=50&cY=0&cW=435.2535885167464&cH=548" alt="" class="w-80 py-2 m-auto rounded-t-full" >
            </div>
          </div>
          <div class="flex-1 p-3 relative mt-20">
            <div class="  text-[0.6rem] xl:text-[0.8rem] px-2">
        
              <span class="text-5xl font-bold text-gray-800">Juan Muiño + Fernando Oltolina</span>
              <p class="game mt-12">
                Director creativo Redactor
              </span>
              <p class="game">
                Director creativo Arte
              </p>
              <p class="text-lg font-Georgia mt-12">
                Muchas marcas confiaron en nosotros, y en los últimos años trabajamos con Citroën, Peugeot, Jeep, Netflix, Starbucks, Ayudín, LG, Molinos, P&G, ZonaJobs, Inmuebles24, Coca Cola, Cabify, Clorox, Supervielle y Lemon Cash, entre otras.
              </p>
              <p class="text-lg font-Georgia mt-12">
                Tenemos una cantidad de 34 premios ganados en diferentes festivales entre ellos: Cannes Lions, Pencil Ad, El ojo de Iberoamerica, El diente, Effie, Lapiz
              </p>
            </div>
          </div>
        </div> -->
        {
          equipo.map((miembro: any) => {
            return (
              <div class="lg:flex min-h-screen">
                <div class=" flex-1 p-3 relative mt-20">
                  <div class=" bottom-2 max-w-full">
                    {
                      miembro.imagenes.map((imagen: any) => {
                        return (
                          <img src={urlForImage(imagen).url()} alt="" class="w-80 py-2 m-auto rounded-t-full" >
                        )
                      })
                    }
                  </div>
                </div>
                <div class="flex-1 p-3 relative mt-20">
                  <div class="  text-[0.6rem] xl:text-[0.8rem] px-2">
              
                    <span class="text-5xl font-bold text-gray-800 monu">{miembro.nombre}</span>
                    
                    <p class="game mt-12">
                    {
                      miembro.rol.map((rol: any) => {
                        return (
                            <p class="game"> { rol[lenguaje] } </p>
                          )
                        })
                      }
                    </p>
                    
                    <div class="text-lg font-Georgia mt-12">
                      <PortableText value={miembro.descripcion_largo[lenguaje]}>
                        
                      </PortableText>
                      
                    </div>
                    
                    <div class="mt-6 flex gap-2">
                      <a href={miembro.instagram} class={(miembro.instagram ? ' block' : ' hidden')} >
                        <img src={instagram} alt="" class="w-8" >
                      </a>
                      <a href={miembro.linkedin} class={(miembro.linkedin ? ' block' : ' hidden')} >
                        <img src={linkedin} alt="" class="w-8" >
                      </a>
                      <a href={miembro.behance} class={(miembro.behance ? ' block' : ' hidden')} >
                        <img src={behance} alt="" class="w-8" >
                      </a>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            )
          })
        }
        
      </div>
    </div>
    
  </div>
 



</Layout>

<style>
  #line-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .line {
    border-left: 2px solid black;
    height: 85%;
    top: 10%;
    position: absolute;
  }
  .line-1 {
    left: 33.33%;
  }
  .line-2 {
    left: 66.66%;
  }
</style>

<script>

</script>