---
import Layout from '../layouts/Layout.astro';
import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'
import { PortableText } from 'astro-portabletext';

const gifs = [
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-a382b2ad-e17b-45c8-8ff2-e4273cd2e031.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-7638cc42-9c43-4483-817b-591e6be7870e.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-809bb394-811b-4cb8-a8a7-d85eecf0b8d4.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-e8344009-47f9-419b-841c-191ce38cd6f3.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-bbfd2c9b-9de2-4b35-bf84-3c6578472128.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-8047e327-9618-41de-9b82-0a1cb07b2472.gif"
];

const indexGif: any = {
	0: 'sm',
	1: 'md',
	2: 'md',
	3: 'lg',
	4: 'xl',
	5: '2xl',
}

const flecha = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-dbafd4a7-c7b4-413f-a30f-e59843a2e86d.png"
const flechaDiagonal = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-419730d6-4ecc-4bcf-9466-c913b3bb5561.png"
const cara = "/cara.webp"
const cuerpo = "/cuerpo.webp"

async function getTrabajos() {
  const query = groq`* [_type == "work"]`;
  const posts = await useSanityClient().fetch(query);
  return posts;
}

const trabajos = await getTrabajos()

async function getMain() {
  const query = groq`* [_type == "main"]`;
  const posts = await useSanityClient().fetch(query);
  return posts[0];
}

const main = await getMain()

const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}

---

<Layout title="The Brand Side">
	<div class="fixed w-full top-0 bg-black h-5 2xl:h-7 z-10"></div>
	<div class="flex flex-col m-auto  max-w-3xl lg:max-w-full lg:flex-row  gap-10 px-3  lg:items-center w-full relative pt-16 lg:pt-6 2xl:mt-0">
		<div class=" lg:flex  gap-16 items-center">
			<div class="flex mt-6 lg:mt-0">
				<div class=" flex flex-col gap-0 lg:pl-4">
					<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">the</span>
					<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">brand </span>
					<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">side</span>
				</div>
				<img src="https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-cd7b5ba6-a308-4430-9ec9-2d0f16fe3d70.png?w=145&e=webp&nll=true" alt="logo" class="w-24 h-fit xl:self-center pt-8">
			</div>
			<div class="text-xs">
				<div class="font-Georgia prose text-black text-xl 2xl:text-2xl max-w-xl">
					<PortableText value={main.mainText[lenguaje]}></PortableText>
				</div>
				<div class="gap-12 mt-5 text-2xl font-Inter hidden xl:flex">
					<div class="flex flex-col">
						
						<span class="leading-[0.95] ">{new Date().toLocaleTimeString('en-US', { timeZone: 'America/Argentina/Buenos_Aires', hour12: false, hour: '2-digit', minute:'2-digit' })}</span>
						<span class="leading-[0.95] ml-[2px] font-bold">BUENOS AIRES</span>
					</div>
					<div class="flex flex-col">
						<span class="leading-[0.95] ">{new Date().toLocaleTimeString('en-US', { timeZone: 'America/Lima', hour12: false, hour: '2-digit', minute:'2-digit' })}</span>
						<span class="leading-[0.95] ml-[2px] font-bold"> LIMA</span>
					</div>
					<div class="flex flex-col">
						<span class="leading-[0.95] ">{new Date().toLocaleTimeString('en-US', { timeZone: 'Europe/Rome', hour12: false, hour: '2-digit', minute:'2-digit' })}</span>
						<span class="leading-[0.95] ml-[2px] font-bold"> TORINO </span>
					</div>
				</div>
			</div>
			
		</div>
		<div class="hidden lg:block">
			<nav class="text-3xl 2xl:text-6xl flex flex-col font-MonumentGrotesk">
				<a href={localePath("/work-home")} class="hover:underline leading-[0.9]">Work</a>
				<a href={localePath("/about")} class="hover:underline leading-[0.9]">About</a>
				<a href={localePath("/sides")} class="hover:underline leading-[0.9]">Sides</a>
				<a href="#contact" class="hover:underline leading-[0.9]">Contact</a>
			</nav>
		</div>
		
		<div class=" gap-4 self-start xl:mt-12  flex lg:hidden xl:flex ">
			<div class="bg-black h-5 w-5 rounded-full self-end">

			</div>
			<div class="mb-3 ">
				<a href={"/?lang=es"} class="uppercase block text-xl 2xl:text-3xl leading-4 2xl:leading-6">español</a>
				<a href={"/?lang=en"} class="uppercase block text-xl 2xl:text-3xl leading-4 2xl:leading-6">english</a>
			</div>
		</div>
		
	</div>

	<div class=" gap-4 pl-12 mt-12 hidden lg:flex xl:hidden ">
		<div class="bg-black h-5 w-5 rounded-full self-end">

		</div>
		<div class="mb-3 ">
			<a href={"/?lang=es"} class="uppercase block text-3xl leading-6">español</a>
			<a href={"/?lang=en"} class="uppercase block text-3xl leading-6">english</a>
		</div>
	</div>

	<div>

	</div>
	<div class="flex justify-center">
		<div class="flex justify-evenly m-auto items-center w-[95vw]  gap-2  mt-20 mb-4">
			{
				gifs.map(function (gif, index) {
					const size: string = indexGif[index];
					return (
						<div class={"relative justify-center " + (size != 'sm' ? " hidden " : " ") + (size +":block") }>
							<div class="rounded-t-full w-[95vw] md:w-[230px] h-full bg-black absolute fondo-negro hover-black"></div>
							<img src={gif} alt="" class="h-[55vh] w-[95vw] md:w-[230px] rounded-t-full object-cover">
						</div>
					)
				})
			}
		
		</div>
	</div>
	<div class="p-6 relative tracking-tighter mt-24">
		<p class="text-[15vw] font-bold font-Inter leading-none js-show-on-scroll"> 
			<span>
			This side up↑↑↑↑↑ ↑↑↑↑↑↑ 
			</span>
		</p>
		<img class="absolute right-9 bottom-3" src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-f18889c2-cd89-402d-9f2b-1d22d4e53a10.gif" >
	</div>

	<section class="mt-36">
		<div class="m-auto flex justify-center sticky top-8">
			<code class="text-xl uppercase text-center my-6">featured work</code>
		</div>

		

		{
			trabajos.map((trabajo: any, index: number) => {
				return (
					<a class="lg:flex gap-5 mt-10 mb-30 lg:py-10 md:sticky top-20 bg-[white]" href={localePath("work/" + trabajo._id)}>
						<img src={urlForImage(trabajo.imagen1_main).url()} class="lg:w-[50vw] lg:h-[500px] object-cover lg:px-4 lg:border-r-2 border-black" />
						<hr class="border border-black">
						<div class="lg:w-[22vw] flex items-center mt-2 lg:mt-0 lg:block px-4 lg:border-r-2 border-black relative">
							<div class="lg:absolute bottom-2 left-0 max-w-full">
								<div class="uppercase font-Georgia"> {trabajo.sides[0][lenguaje]} </div>
								<div class="text-7xl leading-[0.8] break-words " > {trabajo.nombre[lenguaje]} </div>
							</div>
							<img src={flechaDiagonal} alt="flechita" class="hidden lg:block absolute top-2 right-2   w-12">
						</div>
						<div class="lg:w-[22vw] p-6 lg:p-0  max-w-3xl lg:max-w-none relative">
							<code class="lg:absolute bottom-0 ">
								{trabajo.texto1[lenguaje]}
							</code>
						</div>
					</a>
				)
			})
		}
	</section>

	<section class="relative m-auto max-w-[80vw]">
		<div class=" gap-2 justify-center hidden xl:flex">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">

			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
		</div>

		<div class="sticky top-44 mt-24">
			<img src={cara} class="w-[90px] -bottom-6 absolute hidden min-[430px]:block min-[430px]:ml-[131px]" alt="">
			<img src={cara} class="w-[90px] -bottom-36 absolute  min-[430px]:hidden -top-8 left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
			<img src={cara} class="w-[90px] -bottom-6 absolute ml-[531px] hidden lg:block" alt="">
			<img src={cara} class="w-[90px] -bottom-6 absolute ml-[931px] hidden xl:block" alt="">
		</div>

		<a href={localePath("/work-home")} class=" max-w-[80vw] m-auto">
			<span class="text-[9vw]  font-Georgia font-bold hover:underline decoration-[7px]">{main.seeMoreWork[lenguaje]} </span>
			<img src={flechaDiagonal} alt="flecha" class="inline w-[5vw] pb-[4vw]">
		</a>
	</section>


	<div class="max-w-[80vw] m-auto relative w-screen h-[60vh] z-10">
		<div class=" m-auto relative">
			<img src={cuerpo} class="absolute w-[350px] h-fit" alt="">
			<img src={cuerpo} class="absolute w-[350px] left-[400px] h-fit hidden lg:block" alt="">
			<img src={cuerpo} class="absolute w-[350px] left-[800px] h-fit hidden xl:block" alt="">
		</div>
	</div>
			
	<section class="bg-white relative  overflow-hidden">
		<div class="relative flex overflow-hidden">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			<div class="absolute top-0 left-12 flex">
				<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
				<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			</div>
		</div>
		<div class="absolute top-0 flex left-20 overflow-hidden">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw] animate-rotate" alt="">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw] animate-rotate" alt="">
		</div>
		
		<div class=" absolute bottom-28 right-28">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-4b3c909a-d0c6-46d9-a1b5-712e260f28c2.gif" class="w-[17vw]" alt="">
		</div>

		<div class="absolute top-0 lg:-top-20 left-10">
			<span class="text-[17vw] leading-tight font-bold text-white mix-blend-difference">Whats your </span>
			<span class="text-[17vw] leading-tight font-bold text-white text-right right-2 mix-blend-difference"> side?</span>
		</div>
	</section>

</Layout>

<script>

const elementos = document.querySelectorAll('.hover-black')
elementos.forEach((element) => {
	element.addEventListener('mouseover', function() {
		element.classList.add('animate-desaparecer')
		setTimeout(() => element.classList.remove('animate-desaparecer'), 5000)
	})
});



</script>

<style>
	

	</style>