---
import Layout from '../layouts/Layout.astro';
import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'

const gifs = [
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-a382b2ad-e17b-45c8-8ff2-e4273cd2e031.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-7638cc42-9c43-4483-817b-591e6be7870e.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-809bb394-811b-4cb8-a8a7-d85eecf0b8d4.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-e8344009-47f9-419b-841c-191ce38cd6f3.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-bbfd2c9b-9de2-4b35-bf84-3c6578472128.gif",
	"https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-8047e327-9618-41de-9b82-0a1cb07b2472.gif"
];

const flecha = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-dbafd4a7-c7b4-413f-a30f-e59843a2e86d.png"
const flechaDiagonal = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-419730d6-4ecc-4bcf-9466-c913b3bb5561.png"
const cara = "/cara.webp"
const cuerpo = "/cuerpo.webp"

async function getTrabajos() {
  const query = groq`*[_type == "work"]`;
  const posts = await useSanityClient().fetch(query);
  return posts;
}

const trabajos = await getTrabajos()
---

<Layout title="The Brand Side">
	<div class="flex flex-col-reverse m-auto lg:m-0 max-w-md lg:max-w-max lg:flex-row gap-12 p-3  xl:items-center w-full relative">

		<div class=" flex flex-col gap-0 pl-4"> 
			<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">the</span>
			<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">brand </span>
			<span class="text-7xl 2xl:text-9xl font-bold uppercase leading-[3.3rem] 2xl:leading-[6rem]">side</span>
		</div>
		<div class="my-4 text-xs">
			<p class="font-Georgia text-xl 2xl:text-2xl max-w-xl">
				<span class="font-bold">Everyone dreams of working with the best brands. We aim to build them.</span> The Brand Side is a brand agency based in Buenos Aires, Argentina with crewmates over Lima, Peru and Torino, Italy.
			</p>
			<div class="gap-12 mt-5 text-2xl font-Inter hidden xl:flex">
				<div class="flex flex-col">
					<span class="leading-[0.95] ">{new Date().getHours()}:{new Date().getMinutes()}</span>
					<span class="leading-[0.95] ml-[2px] font-bold">BUENOS AIRES</span>
				</div>
				<div class="flex flex-col">
					<span class="leading-[0.95] ">{new Date().getHours()}:{new Date().getMinutes()}</span>
					<span class="leading-[0.95] ml-[2px] font-bold"> LIMA</span>
				</div>
				<div class="flex flex-col">
					<span class="leading-[0.95] ">{new Date().getHours()}:{new Date().getMinutes()}</span>
					<span class="leading-[0.95] ml-[2px] font-bold"> TORINO </span>
				</div>
			</div>
		</div>
		<div class="flex justify-between p-2 lg:hidden">
			<div>
				<nav class="text-4xl 2xl:text-6xl ">
					<a href="/work-home" class="hover:underline leading-[0.9]">Work</a>
					<a class="hover:underline leading-[0.9]">About</a>
					<a class="hover:underline leading-[0.9]">Sides</a>
					<a class="hover:underline leading-[0.9]">Contact</a>
				</nav>
			</div>
			<div>
				<div class="flex items-end gap-3">
					<div class=" bg-black w-4 h-4 rounded-full"></div>
					<div class="text-2xl leading-[0.9] font-Inter">
						<div class="uppercase "> español </div>
						<div class="uppercase "> english </div>
					</div>
				</div>
				<img src="/tvs.webp" alt="logo" class="w-24 m-auto pt-8 hidden lg:block">
			</div>
		</div>
		<div class="hidden lg:block">
			<nav class="text-4xl 2xl:text-6xl ">
				<a href="/work-home" class="hover:underline leading-[0.9]">Work</a>
				<div class="hover:underline leading-[0.9]">About</div>
				<div class="hover:underline leading-[0.9]">Sides</div>
				<div class="hover:underline leading-[0.9]">Contact</div>
			</nav>
		</div>
		<div  class="hidden lg:block">
			<div class="flex items-end gap-3">
				<div class=" bg-black w-4 h-4 rounded-full"></div>
				<div class="text-2xl leading-[0.9] font-Inter">
					<div class="uppercase "> español </div>
					<div class="uppercase "> english </div>
				</div>
			</div>
			<img src="/tvs.webp" alt="logo" class="w-24 m-auto pt-8 ">
		</div>
	</div>
	<div class="flex justify-center">
		<div class="grid justify-center m-auto items-center w-[95vw] md:grid-cols-3 lg:grid-cols-3 2xl:grid-cols-6 gap-2  mt-28 mb-4">
			{
				gifs.map(function (gif) {
					return (
						<div class="relative flex justify-center">
							<div class="rounded-full xl:rounded-none xl:rounded-t-full w-[95vw] md:w-[250px] h-[20vh] xl:h-full bg-black absolute fondo-negro hover-black"></div>
							<img src={gif} alt="" class="h-[20vh] xl:h-[55vh] w-[95vw] md:w-[250px] rounded-full xl:rounded-none xl:rounded-t-full object-cover">
						</div>
					)
		
				})
			}
		
		</div>
	</div>
	<div class="p-6 relative tracking-tighter mt-24">
		<p class="text-[15vw] font-bold font-Inter leading-none js-show-on-scroll"> 
			<span>
			This side up↑↑↑↑↑ ↑↑↑↑↑↑ 
			</span>
		</p>
		<img class="absolute right-9 bottom-3" src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-f18889c2-cd89-402d-9f2b-1d22d4e53a10.gif" >
	</div>

	<section class="mt-36">
		<div class="m-auto flex justify-center sticky top-10">
			<code class="text-xl uppercase text-center">featured work</code>	
		</div>

		{
			trabajos.map((trabajo: any) => {
				return (
					<div class="lg:flex gap-5 mt-10 mb-30 lg:py-10 sticky top-20 bg-[white]">
						<img src={urlForImage(trabajo.imagen).url()} class="lg:w-[50vw] lg:h-[500px] object-cover lg:px-4 lg:border-r-2 border-black" />
						<hr class="border border-black">
						<div class="lg:w-[22vw] flex items-center mt-2 lg:mt-0 lg:block px-4 lg:border-r-2 border-black relative">
							<div class="lg:absolute bottom-2 left-0 max-w-full">
								<div class="uppercase font-Georgia"> {trabajo.rol} </div>
								<div class="text-7xl leading-[0.8] break-words " > {trabajo.name} </div>
							</div>
							<img src={flechaDiagonal} alt="flechita" class="hidden lg:block absolute top-2 right-2   w-12">
						</div>
						<div class="lg:w-[22vw] p-6 lg:p-0  max-w-3xl lg:max-w-none relative">
							<code class="lg:absolute bottom-0 ">
								{trabajo.descripcion}
							</code>
						</div>
					</div>
				)
			})
		}
	</section>

	<section class="relative m-auto max-w-[80vw]">
		<div class=" gap-2 justify-center hidden xl:flex">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">

			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
			<img src={flecha} class="w-[12vw] p-12" alt="">
		</div>

		<div class="sticky top-44 mt-24">
			<img src={cara} class="w-[90px] -bottom-6 absolute hidden min-[430px]:block min-[430px]:ml-[131px]" alt="">
			<img src={cara} class="w-[90px] -bottom-36 absolute  min-[430px]:hidden -top-8 left-1/2 -translate-x-1/2 -translate-y-1/2" alt="">
			<img src={cara} class="w-[90px] -bottom-6 absolute ml-[531px] hidden lg:block" alt="">
			<img src={cara} class="w-[90px] -bottom-6 absolute ml-[931px] hidden xl:block" alt="">
		</div>

		<div class=" max-w-[80vw] m-auto">
			<span class="text-[9vw]  font-Georgia font-bold ">See more featured work </span>
			<img src={flechaDiagonal} alt="flecha" class="inline w-[5vw] pb-[4vw]">
		</div>
	</section>


	<div class="max-w-[80vw] m-auto relative w-screen h-[60vh] z-10">
		<div class=" m-auto relative">
			<img src={cuerpo} class="absolute w-[350px] h-fit" alt="">
			<img src={cuerpo} class="absolute w-[350px] left-[400px] h-fit hidden lg:block" alt="">
			<img src={cuerpo} class="absolute w-[350px] left-[800px] h-fit hidden xl:block" alt="">
		</div>
	</div>
			
	<section class="bg-white relative  overflow-hidden">
		<div class="relative flex overflow-hidden">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			<div class="absolute top-0 left-12 flex">
				<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
				<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw]" alt="">
			</div>
		</div>
		<div class="absolute top-0 flex left-20 overflow-hidden">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw] animate-rotate" alt="">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-408aebb1-2041-4196-b5c1-e57c77ec2270.png" class="w-[48vw] animate-rotate" alt="">
		</div>
		
		<div class=" absolute bottom-28 right-28">
			<img src="https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-4b3c909a-d0c6-46d9-a1b5-712e260f28c2.gif" class="w-[17vw]" alt="">
		</div>

		<div class="absolute top-0 lg:-top-20 left-10">
			<span class="text-[17vw] leading-tight font-bold text-white mix-blend-difference">Whats your </span>
			<span class="text-[17vw] leading-tight font-bold text-white text-right right-2 mix-blend-difference"> side?</span>
		</div>
	</section>

</Layout>

<script>

const elementos = document.querySelectorAll('.hover-black')
elementos.forEach((element) => {
	element.addEventListener('mouseover', function() {
		element.classList.add('animate-desaparecer')
		setTimeout(() => element.classList.remove('animate-desaparecer'), 5000)
	})
});

const callback = function(entries: any[]) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add("animate-fadeIn");
    } else {
      entry.target.classList.remove("animate-fadeIn");
    }
  });
};

const targets = document.querySelectorAll(".js-show-on-scroll");

const observer = new IntersectionObserver(callback);

// Loop through each of the target
targets.forEach(function(target) {
  // Hide the element
  target.classList.add("opacity-0");

  // Add the element to the watcher
  observer.observe(target);
});


</script>

<style>
	
	
</style>
