---
import Layout from '../../layouts/Layout.astro';
import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../../image'
import { PortableText } from "astro-portabletext";

const { trabajoId } = Astro.params;

async function getTrabajos() {
  const query = groq`*[_type == "work"]`;
  

  const trabajos = await useSanityClient().fetch(query);
  const trabajoIndex = trabajos.findIndex((trabajo: any) => {
    return trabajo._id == trabajoId;
  });
  return {trabajoMock: trabajos.find((trabajo: any) => trabajo._id == trabajoId), trabajos: trabajos, trabajoIndex};
}

const {trabajoMock, trabajos, trabajoIndex} = await getTrabajos()


const trabajoPrevio = trabajos[trabajoIndex-1] ? trabajos[trabajoIndex-1] : null
const trabajoSiguiente = trabajos[trabajoIndex+1] ? trabajos[trabajoIndex+1] : null


const lenguaje = Astro.url.searchParams.get('lang') || "es"


function localePath(path: string) {
	return path + '?lang=' + lenguaje
} 

---

<Layout title="Trabajo - The Brand Side">
    <div class="pt-24 px-2 lg:px-6 relative">
      
      <div class="lg:flex gap-2 font-Inter">
        <div class=" basis-3/4 lg:pr-4 lg:border-r border-black">
          <img src={urlForImage(trabajoMock?.imagen1_main).url()} alt="" class="max-h-[80vh] object-cover w-full">
        </div>
        <div class=" basis-1/3 lg:p-2 flex flex-col justify-between">
          <div>
            <h1 class="text-3xl lg:text-5xl">{trabajoMock?.nombre[lenguaje]}</h1>
            <div class="flex justify-between gap-2  mt-4">
              <div>
                <p class="font-bold uppercase">Client</p>
                <p>{trabajoMock?.client[lenguaje]}</p>
              </div>
              <div>
                <p class="font-bold uppercase">Year</p>
                <p>{trabajoMock?.year}</p>
              </div>
              <div>
                <p class="font-bold uppercase">Sides</p>
                {
                  trabajoMock?.sides.map((side: any) => {
                    return (
                      <p class="uppercase"> {side[lenguaje]} </p>
                    )
                  })
                }
              </div>
              <div>
                <p class="font-bold uppercase">Industry</p>
                <p>{trabajoMock?.industry[lenguaje]}</p>
              </div>
            </div>
          </div>

          <div class="mt-8">
            <p >{trabajoMock?.texto1[lenguaje]}</p>
          </div>
        </div>
      </div>

      <div class="my-6 px">
        <img src={urlForImage(trabajoMock?.imagen2).url()} alt="" class="w-full object-cover max-h-[500px]">

        <div class="lg:flex justify-center m-auto max-w-5xl my-12 font-Inter">
          <div class="p-6 lg:border-r lg:border-l border-black">
            <p class="font-bold text-xl lg:text-3xl ">{trabajoMock?.texto2[lenguaje]}</p>
          </div>
          <div>
            <p class="px-6 ">{trabajoMock?.texto2bis[lenguaje]}</p>
          </div>
        </div>

      </div>

      <div class="lg:flex gap-6 p-3 my-6 justify-center">
        <img src={urlForImage(trabajoMock?.imagen3_grid).url()} alt="" class="lg:w-1/2 object-cover p-2">
        <img src={urlForImage(trabajoMock?.imagen4_grid).url()} alt="" class="lg:w-1/2 object-cover p-2">
      </div>
      
      <div class="lg:flex mb-12 font-Inter">
        <img src={urlForImage(trabajoMock?.imagen5).url()} alt="" class="p-2 lg:w-3/4">
        <div class="flex flex-col justify-end px-4 w-1/4">
          <h2 class="font-bold text-lg lg:text-3xl mb-3">{trabajoMock?.texto3_titulo[lenguaje]}</h2>
          <p class="text-sm lg:text-xl font-Georgia">{trabajoMock?.texto3[lenguaje]}</p>
        </div>
      </div>

      <div class="flex overflow-auto gap-5 my-7">
        <img src={urlForImage(trabajoMock?.imagen6_sidescroll).url()} alt="" class="w-full object-cover max-h-[500px]">
        <img src={urlForImage(trabajoMock?.imagen7_sidescroll).url()} alt="" class="w-full object-cover max-h-[500px]">
        <img src={urlForImage(trabajoMock?.imagen8_sidescroll).url()} alt="" class="w-full object-cover max-h-[500px]">
      </div>

      <div class="max-w-7xl lg:flex gap-5 font-Inter my-12">
        <div class=" basis-1/4">
          <p class="w-full font-bold text-3xl leading-tight">{trabajoMock?.texto4_title[lenguaje]}</p>
        </div>
        <div class="basis-1/3">
          <p class=" leading-tight">{trabajoMock?.texto4[lenguaje]}</p>
        </div>
        <div class="basis-1/3">
          <p class=" leading-tight">{trabajoMock?.texto4_bis[lenguaje]}</p>
        </div>
      </div>

      <img src={urlForImage(trabajoMock?.imagen9).url()} alt="" class="w-full object-cover h-screen">

      <div class="lg:flex gap-4 justify-end my-24">
        <p class="text-2xl lg:text-4xl max-w-5xl xl:text-5xl 2xl:text-7xl font-medium p-3">{trabajoMock?.texto5_big[lenguaje]}</p>
        <img src={urlForImage(trabajoMock?.imagen10).url()} alt="" class="max-w-full lg:max-w-xl self-end object-cover">
      </div>

      <img src={urlForImage(trabajoMock?.imagen11).url()} alt="" class="lg:w-2/3 max-h-[550px]  object-cover mt-24 mb-6">
      <hr class="border-black lg:w-2/3 mt-12">

      <div class="xl:flex max-w-5xl font-Inter gap-9 mt-6  mb-12">
        <div class="basis-1/2 max-w-3xl">
          <p class="font-bold text-xl  leading-none">{trabajoMock?.texto6_final[lenguaje]}</p>
        </div>
        <div class="basis-1/2 max-w-3xl mt-6 xl:mt-0">
          <div class="font-extralight text-sm">
					  <PortableText value={trabajoMock?.texto6_datos[lenguaje]}></PortableText>
          </div>
        </div>
      
      </div>

      <hr class="border-black lg:w-2/3 mb-12 my-20">

      

    </div>

    <div class="bg-[#c5c5c5] p-8 pb-32">
      <p class="font-bold uppercase  text-2xl text-[#282828] mb-6">
        related projects
      </p>

      <div class="lg:flex gap-8 justify-between">
        <div class="flex flex-col md:flex-row gap-4 basis-1/2">
          <a class={  ( trabajoPrevio ? "block" : " hidden")} href={localePath("work/" + trabajoPrevio ? trabajoPrevio?._id : '')}>
            <img src={trabajoPrevio ? urlForImage(trabajoPrevio.imagen1_main).url() : ''} alt="" class="max-h-[400px] ">
            <p class="text-2xl mt-3 font-Georgia">{trabajoPrevio ? trabajoPrevio.nombre[lenguaje] : ''}</p>
          </a>
          <a class={  ( trabajoSiguiente ? "block" : " hidden")} href={localePath("work/" + trabajoSiguiente ? trabajoSiguiente?._id : '')}>
            <img src={trabajoSiguiente ? urlForImage(trabajoSiguiente.imagen1_main).url() : ''} alt="" class="max-h-[400px] ">
            <p class="text-2xl mt-3 font-Georgia">{trabajoSiguiente ? trabajoSiguiente.nombre[lenguaje] : ''}</p>
          </a>
        </div>
        <div class="self-center  flex-1 flex flex-col lg:flex-row justify-between lg:block mt-12 lg:mt-0">
          <a href={localePath("work/" + trabajoPrevio ? trabajoPrevio?._id : '')} class={"text-3xl xl:text-5xl 2xl:text-7xl text-center game" + ( trabajoPrevio ? " block" : " hidden")}>prev project</a>
          <hr class="border-black my-4 ">
          <a href={localePath("work/" + trabajoSiguiente ? trabajoSiguiente?._id : '')} class={"text-3xl xl:text-5xl 2xl:text-7xl text-center game" + ( trabajoSiguiente ? " block" : " hidden")}>next project</a>
        </div>

      </div>

    </div>
    
</Layout>

<style>


</style>

<script>


</script>