---
import { useSanityClient, groq } from 'astro-sanity';
import { PortableText } from "astro-portabletext";

export interface Props {
	title: string;
}

const { title } = Astro.props;

async function getFooter() {
  const query = groq`* [_type == "footer"]`;
  const footer = await useSanityClient().fetch(query);
  return footer[0];
}

const footer = await getFooter()

const batman = 'https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-51334ea2-75aa-4180-814e-1ffe01716d5e.gif'
const flechaArriba = "https://d3n32ilufxuvd1.cloudfront.net/593641fc4ac3e7290178b1b1/6392e79ac57b616d6ed0a92d/upload-879569cb-e745-42c1-88ce-f326bbb8049f.png"

const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white w-full overflow-x-hidden ">
		<header class="top-0 w-full h-20  border-black fixed z-30 bg-black text-white flex justify-between items-center transition-all duration-300">
      <a href={localePath("/")} class="hidden lg:flex  ">
        <span class=" uppercase lg:text-7xl  xl:text-8xl font-bold leading-none ml-3 lg:ml-12 "> the brand side </span>
        <nav class="text-md hidden lg:flex lg:flex-col gap-2 lg:gap-0.5 justify-center px-3 sm:mr-20 lg:mr-32">
          <a href={localePath("/work-home")} class="hover:underline leading-[0.9]">Work</a>
          <a href={localePath("/about")} class="hover:underline leading-[0.9]">About</a>
          <a class="hover:underline leading-[0.9]" href={localePath("/sides")}>Sides</a>
          <a class="hover:underline leading-[0.9]" href="#contact">Contact</a>
        </nav>
      </a>
      <a href={localePath("/")} class=" lg:hidden flex flex-col">
        <span class=" uppercase text-xl lg:text-8xl font-bold leading-none ml-3 lg:ml-12"> the  </span>
        <span class=" uppercase text-xl lg:text-8xl font-bold leading-none ml-3 lg:ml-12"> brand </span>
        <span class=" uppercase text-xl lg:text-8xl font-bold leading-none ml-3 lg:ml-12"> side </span>
      </a>
      <nav class="text-md flex lg:hidden gap-2 lg:gap-0.5 justify-center px-3 sm:mr-20 lg:mr-32">
        <a href={localePath("/work-home")} class="hover:underline leading-[0.9]">Work</a>
        <a href={localePath("/about")} class="hover:underline leading-[0.9]">About</a>
        <a class="hover:underline leading-[0.9]" href={localePath("/sides")}>Sides</a>
        <a class="hover:underline leading-[0.9]" href="#contact">Contact</a>
      </nav>
      <a href={localePath("/work-home")} class="w-10 hidden sm:block lg:w-24 absolute right-4 top-2">
        <img src="https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-cd7b5ba6-a308-4430-9ec9-2d0f16fe3d70.png?w=145&e=webp&nll=true" alt="" >
      </a>
	  </header>
		
		<slot />
    <div class="fixed left-10 bottom-5 gap-40 text-[0.56rem] hidden xl:flex z-0 redes game">
      <div class="shadow-texto">2023 THE "brand" SIDE</div>
      <div class="shadow-texto">BEHANCE</div>
      <div class="shadow-texto">LINKEDIN</div>
      <div class="shadow-texto">INSTAGRAM</div>
    </div>

    <footer class=" bg-black  relative z-10">
      <div class="flex w-full gap-2 justify-center">
        <img src={batman} alt="batman" class="w-[23rem] max-w-screen p-4">
        <img src={batman} alt="batman" class="w-[23rem] max-w-screen p-4 hidden md:block">
        <img src={batman} alt="batman" class="w-[23rem] max-w-screen p-4  hidden xl:block">
        <img src={batman} alt="batman" class="w-[25rem] max-w-screen p-4  hidden 2xl:block">
      </div>
      <hr class="border-white  px-6 mx-6 mt-3">

      <div class="flex flex-col xl:flex-row gap-36 text-white p-6 items-center">
        <div>
          <p class="text-6xl ">{footer.titulo[lenguaje]}</p>
          <div class="text-lg pt-12 prose text-white max-w-md font-Georgia">

            <PortableText
              value={footer.texto_largo[lenguaje]}
              
            >

            </PortableText>
            
          </div>
          
        </div>
        <div class="flex flex-col  justify-center" id="contact">
          <input type="text" placeholder="Name" name="name" class="text-2xl p-1 m-3 bg-black border-white border-b w-[30rem] max-w-[80vw]" >
          <input type="email" placeholder="Email" name="email" class="text-2xl p-1 m-3 bg-black border-white border-b w-[30rem] max-w-[80vw]" >
          <input type="text" placeholder="Message" name="name" class="text-2xl p-1 m-3 bg-black border-white border-b w-[30rem] max-w-[80vw]" >
          <button class="text-2xl text-left m-2 p-2 hover:underline">Send</button>
        </div>
        <div class="flex flex-col justify-center ">
          <a target="_blank" href={footer.behance} class=" text-5xl font-Georgia hover:underline"> Behance</a>
          <a target="_blank" href={footer.linkedin} class=" text-5xl font-Georgia hover:underline"> Linkedin</a>
          <a target="_blank" href={footer.instagram} class=" text-5xl font-Georgia hover:underline"> Instagram</a>
          <a target="_blank" href={footer.whatsapp} class=" text-5xl font-Georgia hover:underline"> Whatsapp</a>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row justify-between  mt-12 items-center lg:items-end gap-12 lg:gap-32 text-white py-3 px-6">
        <p class="text-3xl lg:text-4xl text-center"><span class="font-bold"> ©THE BRAND SIDE </span> - 2023</p>
        <div class=" flex-col items-center hidden lg:flex">
          <div class="flex">
            <img src={flechaArriba} alt="" class="w-9 -rotate-90">
            <img src={flechaArriba} alt="" class="w-9 -rotate-90">
            <img src={flechaArriba} alt="" class="w-9 -rotate-90">
            <img src={flechaArriba} alt="" class="w-9 -rotate-90">
          </div>
          <span class="font-Inter text-xl uppercase">this side up</span>
        </div>
        <div class="flex items-center gap-6">
          <img src="https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/4074560/upload-cd7b5ba6-a308-4430-9ec9-2d0f16fe3d70.png?w=145&e=webp&nll=true" alt="logo" class="w-12 ">

          <div class="font-Inter lg:pr-32">
            <p> The Brand Side </p>
            <p> Buenos Aires Office </p>
            <p> Dorrego 1456 </p>
          </div>


        </div>
      </div>
    </footer>
	</body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


  @font-face {
    font-family: 'MonumentGrotesk';
    src: url('fonts/MonumentGrotesk-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
    scroll-behavior: smooth;
	}

	html, body {
    cursor: url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png), auto;
		cursor: -webkit-image-set(
        url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png?w=75) 1x,
        url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png) 2x
      ), auto;
	}

  .cursor {
    cursor: url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png), auto;
		cursor: -webkit-image-set(
        url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png?w=75) 1x,
        url(https://d2kq0urxkarztv.cloudfront.net/593641fc4ac3e7290178b1b1/upload-664d70d9-6d43-4539-912a-fd2862e97ab5.png) 2x
      ), auto;
  }


  .shadow-texto {
    text-shadow: 2px 2px white;
    color: black;
  }

  .game {
    font-family: 'Press Start 2P', cursive;
  }

  code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }

	@font-face {
		font-family: 'Georgia';
		src: url('/fonts/Georgia.woff') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

</style>

<script>

window.addEventListener("resize", () => {
  if (window.innerWidth < 1026) {
    document.querySelector('header')?.classList.remove('hidden');
  }
})


if(window.location.pathname == "/" ) {
  if(window.innerWidth > 1026) {
    document.querySelector('header')?.classList.add('hidden');
  }

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll > 400 && window.innerWidth > 1023) {
      document.querySelector('header')?.classList.add('animate-fadeIn');
      document.querySelector('header')?.classList.remove('hidden');
    } else if(window.innerWidth > 1023) {
      document.querySelector('header')?.classList.remove('animate-fadeIn');
      document.querySelector('header')?.classList.add('hidden');
    }
  })

  window.addEventListener("resize", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll > 400 && window.innerWidth > 1023) {
      document.querySelector('header')?.classList.add('animate-fadeIn');
      document.querySelector('header')?.classList.remove('hidden');
    } else if(window.innerWidth > 1023) {
      document.querySelector('header')?.classList.remove('animate-fadeIn');
      document.querySelector('header')?.classList.add('hidden');
    }
  })
}


const callback = function(entries: any[]) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add("animate-fadeIn");
    } else {
      entry.target.classList.remove("animate-fadeIn");
    }
  });
};

const targets = document.querySelectorAll(".js-show-on-scroll");

const observer = new IntersectionObserver(callback);

// Loop through each of the target
targets.forEach(function(target) {
  // Hide the element
  target.classList.add("opacity-0");

  // Add the element to the watcher
  observer.observe(target);
});

</script>
